Repository chungjung-d/k2c-hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: agents-fmt, collector-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: agents-fmt
        name: Format k2c-agents
        entry: mise run agents.fmt
        language: system
        files: ^k2c-agents/
        pass_filenames: false
  - repo: local
    hooks:
      - id: collector-fmt
        name: Format k2c-collector
        entry: mise run collector.fmt
        language: system
        files: ^k2c-collector/
        pass_filenames: false

. (#6)
  .ckignore
  AGENTS.md
  fnox.toml
  k2c-agents/README.md
  k2c-agents/pyproject.toml
  k2c-agents/src/k2c_agents.egg-info/PKG-INFO
  k2c-agents/src/k2c_agents.egg-info/SOURCES.txt
  k2c-agents/src/k2c_agents.egg-info/entry_points.txt
  k2c-agents/src/k2c_agents/agents/evaluation_manager.py
  k2c-agents/src/k2c_agents/agents/lead_agent.py
  k2c-agents/src/k2c_agents/agents/llm.py
  k2c-agents/src/k2c_agents/agents/preprocess_manager.py
  k2c-agents/src/k2c_agents/config.py
  k2c-agents/src/k2c_agents/lead_server.py
  k2c-agents/src/k2c_agents/schemas.py
  k2c-agents/tests/http/config.http
  k2c-agents/tests/http/lead.http
  mise.toml
Due: agents-fmt

feat: push image event to preprocess server from collector
  fnox.toml
  k2c-collector/src/__main__.py
  k2c-collector/src/config.py
  k2c-collector/src/upload.py
  k2c-collector/test_server.py
  k2c-collector/tests/test_config.py
  k2c-collector/tests/test_upload.py
  mise.toml
Due: collector-fmt

feat: push image event to preprocess server from collector (#7)
  fnox.toml
  k2c-collector/src/__main__.py
  k2c-collector/src/config.py
  k2c-collector/src/upload.py
  k2c-collector/test_server.py
  k2c-collector/tests/test_config.py
  k2c-collector/tests/test_upload.py
  mise.toml
Due: collector-fmt

feat: add mise dev
  mise.toml
Due: none

import error
  k2c-agents/src/k2c_agents/schemas.py
Due: agents-fmt

refactor: remove graceful shutdown in collector
  k2c-collector/src/__main__.py
Due: collector-fmt

refactor: remove graceful shutdown in collector (#8)
  k2c-collector/src/__main__.py
Due: collector-fmt

mise change
  mise.toml
Due: none

default goal
  k2c-agents/src/k2c_agents/server.py
Due: agents-fmt

feat: Knowledge Graph 대시보드 구현
  k2c-dashboard/package-lock.json
  k2c-dashboard/package.json
  k2c-dashboard/src/app/api/graph/route.ts
  k2c-dashboard/src/app/page.tsx
  k2c-dashboard/src/components/registry.tsx
  k2c-dashboard/src/lib/catalog.ts
Due: none

feat: Knowledge Graph 대시보드 구현 (#9)
  k2c-dashboard/package-lock.json
  k2c-dashboard/package.json
  k2c-dashboard/src/app/api/graph/route.ts
  k2c-dashboard/src/app/page.tsx
  k2c-dashboard/src/components/registry.tsx
  k2c-dashboard/src/lib/catalog.ts
Due: none

docs: draft README.md
  README.md
Due: none

.
  AGENTS.md
  k2c-agents/README.md
  k2c-agents/migrations/000001_create_tables.down.sql
  k2c-agents/migrations/000001_create_tables.up.sql
  k2c-agents/src/k2c_agents.egg-info/PKG-INFO
  k2c-agents/src/k2c_agents.egg-info/SOURCES.txt
  k2c-agents/src/k2c_agents.egg-info/entry_points.txt
  k2c-agents/src/k2c_agents/agents/evaluation_manager.py
  k2c-agents/src/k2c_agents/agents/lead_agent.py
  k2c-agents/src/k2c_agents/agents/llm.py
  k2c-agents/src/k2c_agents/agents/preprocess_manager.py
  k2c-agents/src/k2c_agents/lead_server.py
  k2c-agents/src/k2c_agents/schemas.py
  k2c-agents/src/k2c_agents/server.py
  k2c-agents/tests/http/config.http
  k2c-agents/tests/http/lead.http
  k2c-indexer/README.md
  k2c-indexer/docker-compose.yaml
  k2c-indexer/migrations/000001_create_index_jobs.down.sql
  k2c-indexer/migrations/000001_create_index_jobs.up.sql
  k2c-indexer/pyproject.toml
  k2c-indexer/src/k2c_indexer/__init__.py
  k2c-indexer/src/k2c_indexer/agent.py
  k2c-indexer/src/k2c_indexer/config.py
  k2c-indexer/src/k2c_indexer/db.py
  k2c-indexer/src/k2c_indexer/schemas.py
  k2c-indexer/src/k2c_indexer/server.py
  k2c-indexer/tests/http/indexer.http
  mise.toml
Due: agents-fmt

. (#10)
  AGENTS.md
  k2c-agents/README.md
  k2c-agents/migrations/000001_create_tables.down.sql
  k2c-agents/migrations/000001_create_tables.up.sql
  k2c-agents/src/k2c_agents.egg-info/PKG-INFO
  k2c-agents/src/k2c_agents.egg-info/SOURCES.txt
  k2c-agents/src/k2c_agents.egg-info/entry_points.txt
  k2c-agents/src/k2c_agents/agents/evaluation_manager.py
  k2c-agents/src/k2c_agents/agents/lead_agent.py
  k2c-agents/src/k2c_agents/agents/llm.py
  k2c-agents/src/k2c_agents/agents/preprocess_manager.py
  k2c-agents/src/k2c_agents/lead_server.py
  k2c-agents/src/k2c_agents/schemas.py
  k2c-agents/src/k2c_agents/server.py
  k2c-agents/tests/http/config.http
  k2c-agents/tests/http/lead.http
  k2c-indexer/README.md
  k2c-indexer/docker-compose.yaml
  k2c-indexer/migrations/000001_create_index_jobs.down.sql
  k2c-indexer/migrations/000001_create_index_jobs.up.sql
  k2c-indexer/pyproject.toml
  k2c-indexer/src/k2c_indexer/__init__.py
  k2c-indexer/src/k2c_indexer/agent.py
  k2c-indexer/src/k2c_indexer/config.py
  k2c-indexer/src/k2c_indexer/db.py
  k2c-indexer/src/k2c_indexer/schemas.py
  k2c-indexer/src/k2c_indexer/server.py
  k2c-indexer/tests/http/indexer.http
  mise.toml
Due: agents-fmt

docs: update description
  README.md
Due: none

docker compose up
  AGENTS.md
  docker-compose.yaml
  k2c-agents/README.md
  k2c-agents/src/k2c_agents.egg-info/PKG-INFO
  k2c-indexer/README.md
  k2c-indexer/docker-compose.yaml
  k2c-indexer/src/k2c_indexer/agent.py
  k2c-indexer/src/k2c_indexer/config.py
  k2c-indexer/src/k2c_indexer/server.py
  mise.toml
Due: agents-fmt

chore: remove unused mise task
  mise.toml
Due: none

neo4j fix
  docker-compose.yaml
  k2c-indexer/src/k2c_indexer.egg-info/PKG-INFO
  k2c-indexer/src/k2c_indexer.egg-info/SOURCES.txt
  k2c-indexer/src/k2c_indexer.egg-info/dependency_links.txt
  k2c-indexer/src/k2c_indexer.egg-info/entry_points.txt
  k2c-indexer/src/k2c_indexer.egg-info/requires.txt
  k2c-indexer/src/k2c_indexer.egg-info/top_level.txt
  k2c-indexer/src/k2c_indexer/agent.py
  k2c-indexer/src/k2c_indexer/config.py
  k2c-indexer/tests/httpyac/indexer.http
  k2c-indexer/uv.lock
  mise.toml
Due: none

refactor: change k2c-preprocess-server to k2c-collector
  k2c-agents/README.md
  k2c-agents/pyproject.toml
  k2c-agents/src/k2c_agents.egg-info/PKG-INFO
  k2c-agents/src/k2c_agents.egg-info/entry_points.txt
  k2c-agents/src/k2c_agents/agents/preprocess_manager.py
  k2c-agents/src/k2c_agents/server.py
  k2c-agents/tests/http/config.http
  mise.toml
Due: agents-fmt

chore: remove pkg-infro
  k2c-agents/src/k2c_agents.egg-info/PKG-INFO
  k2c-agents/src/k2c_agents.egg-info/SOURCES.txt
  k2c-agents/src/k2c_agents.egg-info/dependency_links.txt
  k2c-agents/src/k2c_agents.egg-info/entry_points.txt
  k2c-agents/src/k2c_agents.egg-info/requires.txt
  k2c-agents/src/k2c_agents.egg-info/top_level.txt
Due: agents-fmt

refactor: rename k2c-preprocess-agent to collector-proxy (#11)
  k2c-agents/README.md
  k2c-agents/pyproject.toml
  k2c-agents/src/k2c_agents.egg-info/PKG-INFO
  k2c-agents/src/k2c_agents.egg-info/SOURCES.txt
  k2c-agents/src/k2c_agents.egg-info/dependency_links.txt
  k2c-agents/src/k2c_agents.egg-info/entry_points.txt
  k2c-agents/src/k2c_agents.egg-info/requires.txt
  k2c-agents/src/k2c_agents.egg-info/top_level.txt
  k2c-agents/src/k2c_agents/agents/preprocess_manager.py
  k2c-agents/src/k2c_agents/server.py
  k2c-agents/tests/http/config.http
  mise.toml
Due: agents-fmt

chore: add pkg info
  k2c-agents/src/k2c_agents.egg-info/PKG-INFO
  k2c-agents/src/k2c_agents.egg-info/SOURCES.txt
  k2c-agents/src/k2c_agents.egg-info/dependency_links.txt
  k2c-agents/src/k2c_agents.egg-info/entry_points.txt
  k2c-agents/src/k2c_agents.egg-info/requires.txt
  k2c-agents/src/k2c_agents.egg-info/top_level.txt
  k2c-indexer/src/k2c_indexer.egg-info/PKG-INFO
Due: agents-fmt

refactor: mise dev
  mise.toml
Due: none

refactor: db migrations unify
  migrations/000001_create_tables.down.sql
  migrations/000001_create_tables.up.sql
  migrations/000002_create_index_jobs.down.sql
  migrations/000002_create_index_jobs.up.sql
  mise.toml
Due: none

fix: 노드를 클릭하면 모달 노출
  k2c-dashboard/package-lock.json
  k2c-dashboard/package.json
  k2c-dashboard/src/app/api/graph/route.ts
  k2c-dashboard/src/app/page.tsx
  k2c-dashboard/src/components/registry.tsx
Due: none

feat: Mock 데이터 추가
  k2c-dashboard/src/app/api/graph/route.ts
  k2c-dashboard/src/app/page.tsx
  k2c-dashboard/src/components/registry.tsx
  k2c-dashboard/src/lib/catalog.ts
Due: none

fix: 필요없어진 API 삭제
  k2c-dashboard/src/app/api/evaluation/route.ts
Due: none

feat: neo4j 데이터 연결
  k2c-dashboard/src/app/api/graph/route.ts
  k2c-dashboard/src/app/page.tsx
  k2c-dashboard/src/components/registry.tsx
Due: none

fix: next 빌드 타입 에러 해결
  k2c-dashboard/src/app/api/graph/route.ts
  k2c-dashboard/src/app/page.tsx
  k2c-dashboard/src/lib/db.ts
Due: none

build: add dockerfile
  docker-compose.yaml
  k2c-agents/Dockerfile
  k2c-collector/Dockerfile
  k2c-dashboard/Dockerfile
  k2c-indexer/Dockerfile
  mise.toml
Due: agents-fmt, collector-fmt

fix: 노드에서 필요 없는 정보 제거
  k2c-dashboard/package-lock.json
  k2c-dashboard/package.json
  k2c-dashboard/src/app/api/graph/route.ts
  k2c-dashboard/src/components/registry.tsx
  k2c-dashboard/src/lib/catalog.ts
Due: none

fix: nextjs 환경변수 추가
  docker-compose.yaml
Due: none

fix: indexer env
  docker-compose.yaml
Due: none

feat: add OPENAI_INDEXER_MODEL configuration for enhanced indexing
  docker-compose.yaml
  k2c-indexer/README.md
  k2c-indexer/src/k2c_indexer/agent.py
  k2c-indexer/src/k2c_indexer/config.py
  mise.toml
Due: none

refactor: add how to run
  README.md
Due: none

docs: add role
  README.md
Due: none

refactor: update agent job handling and improve README documentation
  k2c-indexer/README.md
  k2c-indexer/src/k2c_indexer.egg-info/PKG-INFO
  k2c-indexer/src/k2c_indexer/agent.py
Due: none

build: ignore rule
  k2c-dashboard/next.config.ts
Due: none
